.what-gives {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #eeeff5;
    background-image: url(../img/advantages-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__title {
        margin-bottom: 30px;
    }
    &__descr {
        margin-bottom: 30px;
    }
    &__list {
        margin-bottom: 5px;
        counter-reset: ol;
    }
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        list-style: none;
        &::before {
            counter-increment: ol;
            content: counter(ol);
            border-radius: 50%;
            padding: 6px 16px;
            margin-right: 20px;
            background-color: var(--color-accent);
            font-size: 18px;
            color: var(--color-white);
        }
    }
    &__item-text {
        max-width: 910px;
    }
}